nav.open {
  width: 100vw;
  backdrop-filter: brightness(50%);
}

.navbar {
  transition: backdrop-filter var(--transition-main), top var(--transition-main);
  z-index: 99999 !important;

  &-wrapper {
    transition: width var(--transition-main), background-color ease-in var(--transition-main), color ease-out var(--transition-secondary);
  }
}

.navbar-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: border-top-left-radius var(--transition-secondary), border-top-right-radius var(--transition-secondary), background-color ease-in var(--transition-main), color ease-out var(--transition-secondary);
}
