<nav [ngClass]="{
    open: toggleNav,
    'sm:w-auto': !toggleNav,
    'top-10': window.document.body.offsetWidth <= 640 && toggleNav,
    'top-full': window.document.body.offsetWidth <= 640 && !toggleNav,
  }"
     class="navbar
     fixed
     bottom-0
     w-screen
     sm:left-0
     sm:top-0
     3xl:block">
  <div (mouseenter)="window.document.body.offsetWidth <= 1536 && (toggleNav = true)"
       (mouseleave)=" window.document.body.offsetWidth <= 1536 && window.document.body.offsetWidth >= 640  && (toggleNav = false)"
       class="navbar-wrapper h-full
       overflow-clip
       bg-light-navbar
       dark:bg-dark-navbar
       text-dark-navbar-text
       p-3
       sm:w-navbarClosed
       sm:hover:w-navbarOpened
       2xl:w-navbarOpened
       relative
       font-bold
flex
flex-col">

    <a class="whitespace-nowrap btn-link my-2" routerLink="/">
      <i class="fa-solid fa-screwdriver-wrench text-5xl px-1"></i>
      <h2 class="ml-5 inline text-3xl">{{title}}</h2>
    </a>
    <ng-scrollbar autoWidthDisabled="false" class="w-full">
      <ul class="flex flex-col gap-4 mt-2 mb-auto pb-2 w-full overflow-x-clip">
        <li *ngFor="let item of modulesManifest" class="w-full">
          <a class="whitespace-nowrap h-14 block btn-common"
             routerLink="{{item.path}}" routerLinkActive="bg-sky-300">
          <span class="w-10 inline-flex justify-center align-middle">
            <i class="{{item.data.icon}} text-4xl m-auto"></i>
          </span>
            <h3 class="inline-flex align-middle ml-6 h-full pr-1">
              <span class="my-auto">{{item.title}}</span>
            </h3>
          </a>
        </li>
      </ul>
    </ng-scrollbar>

    <app-theme-btn></app-theme-btn>
    <app-locale-selector></app-locale-selector>
  </div>
  <div (click)="toggleNav = !toggleNav"
       [ngClass]="{
       'rounded-t-2xl': !toggleNav
       }"
       class="navbar-btn
       bottom-full
        w-full
        left-0
        right-0
        absolute
        p-4
        flex
        rounded-t-2xl
        bg-light-navbar
        dark:bg-dark-navbar
        h-10">
    <i [ngClass]="{
    'fa-rotate-180': toggleNav
    }" class="fa-solid fa-angles-up text-sky-400 mx-auto"></i>
  </div>
</nav>


