<div class="h-full flex justify-center align-middle">

  <div class="m-auto text-xl text-center">
    <div class="text-5xl text-sky-400">404</div>
    <div class="text-sky-500 mx-auto">
      <svg class="my-6 mx-auto" height="86" viewBox="0 0 128 86" width="128" xmlns="http://www.w3.org/2000/svg">
        <path class="dino" d="" fill="currentColor"/>
      </svg>
    </div>
    <h2 class="text-3xl font-bold" i18n>Oh, snap, i can't find path <span class="text-sky-400">{{currentRoute}}</span>
    </h2>
    <p i18n>Path <span class="text-sky-400">{{currentRoute}}</span> is not exist</p>
    <div class="mt-6">
      <a class="btn-common" i18n routerLink="/"><i class="fa-solid fa-house mr-2"></i>To main page</a>
    </div>
  </div>
</div>
