@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

:root {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-family: 'Yantramanav', sans-serif;
}


* {
  box-sizing: border-box;
  transition: background-color var(--transition-main);
}

i {
  transition: transform var(--transition-main);
}
