@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
i {
  transition: transform var(--transition-main);
}

body,
.navbar {
  transition: background-color ease-in var(--transition-main), color ease-out var(--transition-secondary);
}

.input-common {
  @apply rounded-roundEdge text-light-secondary dark:text-dark-secondary bg-field-light dark:bg-field-dark border-0 ring-0 focus:ring-sky-500 focus:bg-slate-300 dark:focus:bg-slate-700
}

.btn-common {
  @apply rounded-roundEdge p-2 text-dark-secondary bg-sky-500 hover:bg-sky-400;
  transition: background-color var(--transition-main);
}

.btn-inline {
  @apply rounded-roundEdge px-3 py-1 text-dark-secondary bg-sky-500 hover:bg-sky-400;
  transition: background-color var(--transition-main);
}

.btn-link {
  @apply text-sky-400 hover:text-sky-600 dark:hover:text-sky-200;
  transition: color var(--transition-secondary);
}

.card {
  @apply p-2 rounded-roundEdge m-2
}

.card-warn {
  @apply bg-amber-300 text-black
}

.card-info {
  @apply bg-sky-200 text-black
}

.card-error {
  @apply bg-rose-400 text-black
}

.container-page {
  @apply flex  my-4 flex-col py-2 w-full mx-auto pb-navbarClosedMobile
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

